.App {
  width: 100vw;
  height: 100vh;
  background-color: #222222;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #33a5d3;
  box-sizing: border-box;
  width: 100vw;
  height: 7.5vh;
  color: #222222;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 5%;
}

.card {
  width: 80vw;
  height: 75vh;
  box-sizing: border-box;
  background-color: #ebebeb;
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
  text-align: left;
}

.name {
  color: #222222;
  border-bottom: 3px #33a5d3 solid;
  width: auto;
  text-align: left;
  }

.info {
    color: #222222;
    height: auto;
}

.movies {
  color: #222222;
  height: auto;
  width: 100%;
}

.id{
  width: 100%;
  color: #222222;
  position: relative;
  top: -2.5%;
  right: -92.5%;
}

.buttons {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  color: #ebebeb;
}

.buttons-1 {
  width: 20vw;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 20px 24px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

button {
  border-radius: 30px;
  background-color: rgb(55, 145, 230);
  color: white;
  display:flex;
  justify-content: space-around;
  margin-right: 20px;
  font-size: 25px;
}
.buttons-1 button:hover {
  background-color: #3e8e41;
}
.movie-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}